<h1><%= @vagrant_box %> Listing vagrant_box_versions</h1>

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Status</th>
      <th>Description html</th>
      <th>Description markdown</th>
      <th>Providers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagrant_box_versions.each do |vagrant_box_version| %>
      <tr>
        <td><%= vagrant_box_version.version %></td>
        <td><%= vagrant_box_version.status %></td>
        <td><%= vagrant_box_version.description_html %></td>
        <td><%= vagrant_box_version.description_markdown %></td>
        <td><%= vagrant_box_version.providers %></td>
        <td><%= link_to 'Show', vagrant_box_version_path(@vagrant_box, vagrant_box_version) %></td>
        <td><%= link_to 'Edit', edit_vagrant_box_version_path(@vagrant_box, vagrant_box_version) %></td>
        <td><%= link_to 'Destroy', vagrant_box_version_path(@vagrant_box, vagrant_box_version), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Version', new_vagrant_box_version_path %>
