<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @vagrant_box_version.version %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vagrant_box_version.status %>
</p>

<p>
  <strong>Description html:</strong>
  <%= @vagrant_box_version.description_html %>
</p>

<p>
  <strong>Description markdown:</strong>
  <%= @vagrant_box_version.description_markdown %>
</p>

<p>
  <strong>Providers:</strong>
  <%= @vagrant_box_version.providers %>
</p>

<%= link_to 'Edit', edit_vagrant_box_version_path(@vagrant_box, @vagrant_box_version) %> |
<%= link_to 'Back', vagrant_box_versions_path %>
