<%= form_for(@vagrant_box_provider) do |f| %>
  <% if @vagrant_box_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vagrant_box_provider.errors.count, "error") %> prohibited this vagrant_box_provider from being saved:</h2>

      <ul>
      <% @vagrant_box_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
    <div class="field">
      <%= f.label :versions_id %><br>
      <%= f.text_field :versions_id %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
