<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vagrant_box_provider.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @vagrant_box_provider.url %>
</p>

<%= link_to 'Edit', edit_vagrant_box_provider_path(@vagrant_box_provider) %> |
<%= link_to 'Back', vagrant_box_providers_path %>
